@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Gloria+Hallelujah&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 24px;
  text-align: center;
}

.contenet h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.content p {
  color: gray;
  font-family: 18px;
  margin-bottom: 20px;
  padding: 15px;
}

.content {
  padding: 64px;
}
.form-group {
  text-align: left;
  margin-bottom: 15px;
  padding: 16px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  width: 50%;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  font-size: 14px;
}

input:focus {
  border-color: #007AFF;
  outline: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 16px;
}

.checkbox-group input {
  width: auto;
  margin-right: 10px;
}

.checkbox-group a {
  color: #007AFF;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.all {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.btn {
  width: 95%;
  padding: 16px;
  background-color: #007AFF;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #007AFF;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
  padding: 34px;
}

.login-link a {
  color: #007AFF;
  text-decoration: none;
  font-weight: bold;
}


