@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  display: flex;
}

.menu {
  background-color: rgb(240, 240, 240);
  height: 100vh;
  width: 200px;
  border-right: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

p {
  margin-left: 16px;
  color: #84919A;
}

.images-Input {
  margin-left: 16px;
}
.menu a {
  display: flex;
  gap: 8px;
  padding: 10px 15px;
  text-decoration: none;
  color: #252C32;
}

.content {
  flex: 1;
  margin-left: 24px;
}

.header {
  background-color: #FFFFFF;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid #E5E9EB;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.header-icons {
  margin-left: 15px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.main {
  height: calc(100vh - 56px);
  padding: 24px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.category-title {
  font-size: 24px;
  font-weight: 600;
}

.button {
  height: 36px;
  padding: 0 16px;
  background-color: #4094F7;
  border: 1px solid;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #4094F7;
}

.button:focus {
  background-color: #4094F7;
}

.category-function {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.select,
.input-search {
  height: 36px;
  width: 200px;
  padding: 0 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #E5E9EB;
}

.input-search {
  padding-right: 30px;
}

.input-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.image_00 {
  position: absolute;
  right: 10px;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E5E9EB;
}

.category-table thead tr {
  height: 40px;
  padding: 0 16px;
  background-color: #F9FAFB;
  border: 1px solid #E5E9EB;
}

.category-table tbody tr td {
  height: 40px;
  padding: 0 16px;
  border: 1px solid #E5E9EB;
}

.all {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.all .delete-button,
.all .edit-button {
  width: 20px;
  height: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 8px;
  border-radius: 12px;
  width: fit-content;
  font-weight: 500;
}

.status-active {
  background-color: #ECFDF3;
  color: #12B76A;
}

.status-inactive {
  background-color: #FEF2F2;
  color: #DC2626;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.pagination button {
  width: 32px;
  height: 32px;
}

.button-prev,
.button-next,
.button-number {
  border: 1px solid #E5E9EB;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
}

.button-number.active {
  background-color: #4094F7;
  color: #FFFFFF;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-category {
  background-color: #FFFFFF;
  width: 500px;
  padding: 20px 24px;
  border-radius: 8px;
  position: relative;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-body {
  margin-bottom: 10px;
}

#subjectName {
  margin-bottom: 24px;
}
.form-body label {
  display: block;
  margin-bottom: 5px;
}

.form-body input[type="text"] {
  width: 100%;
  padding: 6px;
  border: 1px solid #E5E9EB;
  border-radius: 4px;
}

.status-group {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.form-footer button {
  border-radius: 10px;
  width: 86px;
  height: 44px;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#btnCloseFormCategory {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #E5E9EB;
}

#btnAddSubject {
  background: #4094F7;
  color: #FFFFFF;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D0D5DD;
  z-index: 1000;
  text-align: center;
}

.modal-confirm-button {
  width: 60px;
  height: 44px;
  background-color: #DC2626;
  color: #FFFFFF;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 8px;
}

.modal-cancel-button {
  margin-top: 24px;
  width: 60px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  background-color: #FFFFFF;
}

.success-notification {
  width: 450px;
  height: 91px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333E5A;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  margin-bottom: 12px;
  gap: 10px;
  z-index: 1001;
}

.success-notification img {
  width: 20px;
  height: 20px;
  left: 18px;
  top: 18px;
}

.success-notification h3 {
  width: 346px;
  height: 18px;
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 14px;
}

.success-notification p {
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 14px;
  left: 48px;
  margin-bottom: 18px;
}

.success-notification  {
  border: 1px solid #FFFFFF59;
  background-color: #333E5A;
  border-radius: 16px;
  padding: 4px;
  display: flex;
  margin-left: 16px;
  gap: 16px;
}

.success-notification img {
  background-color: #84919A;
  border-radius: 100px;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #FEFEFE;
  margin: 15% auto;
  padding: 20px;
  width: 700px;
  height: 309px;
  border-radius: 8px;
}

h2 {
  margin-top: 23px;
}
.close-button {
  color: #344054;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  margin-bottom: 20px;
}

.form-group, .editSubjectNameError {
  margin-top: 20px;
}
.form-group {
  margin-bottom: 15px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #DADADA;
  border-radius: 4px;
  margin-top: 6px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.radio-Input {
  display: flex;
  gap: 8px;
  margin-left: 24px;
  margin-top: 6px;
}
.modal-actions button.button {
  background-color: #4094F7;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.modal-actions button.button:hover {
  opacity: 0.8;
}

.modal-actions button[type="button"] {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 8px;
  border: 1px solid #E5E9EB;
}
.button-02 {
  color: #000000;
  background-color: #FFFFFF;
  width: 50px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid #E5E9EB;
}

.form-group_input {
  display: flex;
  flex-direction: row;
  gap: 13px;
  justify-content: end;
}

.error-message {
  font-size: 12px;
}